.time-display-container {
  margin-top: 10%;
}

.text-wrapper {
  background-color: white;
  padding: 8px;
}

h4 {
  color: #00FFFF;
  font-weight: bold;
}

.header {
  color: #00FFFF;
  font-size: 28px;
  font-weight: bold;
}

.time {
  color: #FFA500;
  font-weight: bold;
}

.outer-input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -16px;
}

.input {
  background-color: white;
  font-size: 28px;
  font-weight: bolder;
  padding: 12px;
  width: 75px;;
  height: 32px;
}

.input-wrapper {
  position: relative;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  position: absolute;
  color: lime;
  bottom: -24px;
  right: 50%;
  font-weight: bolder;
}

.plus,
.minus {
  position: absolute;
  background-color: white;
  padding: 5px;
  right: 0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightGrey;
}

.plus {
  top: 0;
}
.minus {
  bottom: 0;
}
